.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.button-example {
    display: flex;
}

.button {
    margin-right: 10px;
}

.button-index {
    margin-left: 10px;
    margin-right: 10px;
}