<br><br>
<div class="button-example">
  <a routerLink="/" class="button-index">
    <div class="example-button-row">
      <button mat-raised-button color="primary">Index</button>
    </div>
  </a>
  <a routerLink="dashboard" class="button">
    <div class="example-button-row">
      <button mat-raised-button color="primary">Dashboard</button>
    </div>
  </a>
  <a routerLink="login" class="button">
    <div class="example-button-row">
      <button mat-raised-button color="primary">Login</button>
    </div>
  </a>
  <a routerLink="contacts" class="button">
    <div class="example-button-row">
      <button mat-raised-button color="primary">Contacts</button>
    </div>
  </a>
</div>