<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="block-adminHeader" lang="en">
	<head>
		<style>
			.brand-gradient {
				background: #121FCF;
				background: linear-gradient(to right, #121FCF 0%, #48C176 100%);
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			.vr {
				color: white;
			}
		</style>	
	</head>
	<body>
		<header class="bg-dark text-white text-center p-4">
	        <h1>Administration Portal</h1>
	        <p>Manage the catalogs of computer science books</p>
    	</header>
    	
	     <nav class="navbar navbar-dark navbar-expand-lg bg-dark shadow small mb-3">
	        <div class="container-fluid">
            	<a href="http://localhost:8080/dashboard" class="navbar-brand">
            		<span class="brand-gradient">Administrator Portal</span>
            	</a>
            	<button type="button" class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" 
            		aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle Navigation">
	            	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
	                	<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
	              	</svg>
            	</button>
            	<div class="collapse navbar-collapse" id="navbar-supported-content">
                	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    	<li class="nav.item">
                        	<a class="nav-link active" aria-current="page" href="http://localhost:8080/dashboard">Home</a>
                    	</li>
                	</ul>
                	<p th:text="${user.username}">demo</p>
                	<a th:href="@{/perform_logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit()">
                		<button type="button" class="btn btn-sm btn-warning ms-3">
	                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
	                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
	                            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
	                        </svg>
                        </button>
	               	</a>
	               <form id="logout-form" th:action="@{/perform_logout}" method="get" style="display: none;"></form>
            	</div>
        	</div>
	     </nav>
	</body>
</html>