<div th:fragment="block-adminSideBar">
	<div class="p-4 rounded-4 shadow">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" aria-curent="page" href="#">Active</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 1</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 2</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 3</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 4</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 5</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 6</a>
			</li>
		</ul>
	</div>
</div>