<div th:fragment="block-adminSideBar">
	<div class=" rounded-4 shadow text-bg-info">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi soluta dolorum tempora ut eum corporis inventore suscipit amet. In maxime voluptate culpa, pariatur quasi rerum minima quod aperiam omnis.
		Repellat officiis neque laboriosam, laborum possimus quibusdam provident? At id, eum eos odit, iure porro debitis eaque repellendus, fugiat numquam repudiandae molestiae dolore veritatis quos corporis quas est placeat ab.
		Possimus cumque ipsum quasi, eos ab nesciunt provident error molestiae. Corporis incidunt nobis architecto, amet id suscipit voluptatem laudantium repudiandae? Quaerat iste voluptatibus vel sapiente ea eos maiores ratione praesentium?
		Perspiciatis corrupti cupiditate fugit rerum recusandae distinctio illo sunt sit error expedita, commodi neque vero blanditiis hic mollitia eligendi quis corporis obcaecati earum repudiandae debitis nobis consectetur quidem? Distinctio, minima!
		Quisquam asperiores provident assumenda in dicta et optio natus, odio praesentium non nulla reprehenderit aspernatur accusamus, fugit maiores ducimus libero itaque minus impedit quis. Iure sequi similique est dolorem accusantium!
		Temporibus voluptatibus incidunt ex consequuntur minima quo accusamus itaque sed dolores at! Tenetur obcaecati, temporibus aperiam quisquam architecto, cumque rerum facere explicabo culpa fuga eveniet commodi necessitatibus hic. Nostrum, quo!
	</div>
</div>