<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" th:fragment="block-adminSideBar">
	<div th:replace="~{fragments/bootstrap :: block-bootstrap}"></div>
	<head>
	</head>
	<body class="bg-light">
		<!-- Sidebar options -->
	    <aside class="col-md-3">
	    	<h4>Options</h4>
	        <ul class="list-group">
	        	<li class="list-group-item"><a href="#">Products List</a></li>
	            <li class="list-group-item"><a href="#">Products Category</a></li>
	        </ul>
	    </aside>
	</body>
</html>