<div th:fragment="block-adminNavBar">
	<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Administration Portal</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Products</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Product Category</a>
		        </li>
		      </ul>
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a th:href="@{/perform_logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit()">
				  	<i class="bi bi-box-arrow-right large-icon"></i>
				  </a>
					<form id="logout-form" th:action="@{/perform_logout}" method="get" style="display: none;"></form>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
					
			
	</nav>
</div>