<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="block-header">
	<head>	
	</head>
	<div th:replace="~{fragments/bootstrap :: block-bootstrap}"></div>
	<body class="bg-light">
		 <!-- nav -->
	     <nav class="navbar navbar-dark navbar-expand-lg bg-dark shadow small mb-3">
	        <div class="container-fluid">
            	<a href="adminPortal.html" class="navbar-brand">
            		<span>Admin Portal</span>
            	</a>
        	</div>
	     </nav>
	     <!-- nav -->
	</body>
</html>