<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="block-header">
	<div th:replace="~{fragments/bootstrap :: block-bootstrap}"></div>
	<head>
			<style>
				.brand-gradient {
					background: #121FCF;
					background: linear-gradient(to right, #121FCF 0%, #48C176 100%);
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			</style>	
	</head>
	
	<body class="bg-light">
		 <!-- nav -->
	     <nav class="navbar navbar-dark navbar-expand-lg bg-dark shadow small mb-3">
	        <div class="container-fluid">
            	<a href="http://localhost:8080" class="navbar-brand">
            		<span>Admin Portal</span>
            	</a>
        	</div>
	     </nav>
	     <!-- nav -->
	</body>
</html>