body {
	background: url(/images/background.jpg) no-repeat right bottom / cover fixed;
}

.login-content {
	max-width: 2560px;
	margin: 15% auto;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.login-logo {
	width: 7%;
}

#signUpModalBtn {
	color: blue;
}