html {
	width: 100vw;
	height: 100vh;
}

body {
	background-image: url(/images/background.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100vh;
	font-size: 16px;
}

h4 {
	font-size: 25px;
}

.mb-logo {
	height: 80px;
}

.div-form-dim {
	width: 22em;
}

img {
	width: 9em;
}

.large-icon, .button-text {
	font-size: 16px;
}

.link-button {
	background: none; /* Remove button background */
	border: none; /* Remove the border */
	color: blue; /* Text color (you can change according to your preferences) */
	cursor: pointer; /* Change cursor when hovering over text */
	font: inherit; /* Keep font style from context */
	padding: 0; /* Remove any padding */
}

@media (max-width: 992px) {
	
	.container {
		width: 100%;
	}
	
	body {
		font-size: 14px;
	}
	
	h4 {
		font-size: 22px;
	}
	
	.div-form-dim {
		width: 50%;
	}
	
	.large-icon, .button-text {
		font-size: 14px;
	}
	
	img {
		width: 8em;
	}
	
	.mb-logo {
		height: 70px;
	}
}

@media (max-width: 768px) {
	
	.container {
		width: 100%;
	}
	
	body {
		font-size: 13px;
	}
	
	h4 {
		font-size: 20px;
	}
	
	.div-form-dim {
		width: 60%;
	}
	
	.large-icon, .button-text {
		font-size: 13px;
	}
	
	img {
		width: 7em;
	}
	
	.mb-logo {
		height: 60px;
	}
	
}

@media (max-width: 453.33px) {
	
	.container {
		width: 100%;
	}
	
	body {
		font-size: 13px;
	}
	
	h4 {
		font-size: 18px;
	}
	
	.div-form-dim {
		width: 85%;
	}
	
	.large-icon, .button-text {
		font-size: 13px;
	}
	
	img {
		width: 6em;
	}
	
	.mb-logo {
		height: 50px;
	}
}