html {
	width: 100vw;
	height: 100vh;
}

body {
	background-image: url(/images/background.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100vh;
	font-size: 16px;
}

h4 {
	font-size: 30px;
}

.div-form-dim {
	width: 22em;
}

img {
	width: 10em;
}

.large-icon, .button-text {
	font-size: 16px;
}

.link-button {
	background: none; /* Remove button background */
	border: none; /* Remove the border */
	color: blue; /* Text color (you can change according to your preferences) */
	cursor: pointer; /* Change cursor when hovering over text */
	font: inherit; /* Keep font style from context */
	padding: 0; /* Remove any padding */
}

@media (max-width: 992px) {
	
	.container {
		width: 100%;
	}
	
	body {
		font-size: 14px;
	}
	
	h4 {
		font-size: 25px;
	}
	
	.div-form-dim {
		width: 50%;
	}
	
	.large-icon, .button-text {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	
	.container {
		width: 100%;
	}
	
	body {
		font-size: 12px;
	}
	
	h4 {
		font-size: 20px;
	}
	
	.div-form-dim {
		width: 70%;
	}
	
	.large-icon, .button-text {
		font-size: 12px;
	}
	
	.mb-4-logo {
		height: 55px;
	}
}

@media (max-width: 453.33px) {
	
	.container {
		width: 100%;
	}
	
	body {
		font-size: 10px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	.div-form-dim {
		width: 100%;
	}
	
	.large-icon, .button-text {
		font-size: 10px;
	}
	
	.mb-4 {
		height: 10px;
	}
	
	.mb-4-logo {
		height: 40px;
	}
	
	.mb-3-remember {
		height: 20px;
	}
}