.body {
	font-family: cursive, sans-serif;
}

.large-icon {
	font-size: 20px;
}

.login-failed {
	color: red;
}

.logout-ok {
	color: green;
}

.link-button {
	background: none;
	border: none;
	color: blue;
	cursor: pointer;
	font: inherit;
	padding: 0;
}