.body {
	font-family: cursive, sans-serif;
}

.large-icon {
	font-size: 20px;
}

.login-failed {
	color: red;
}

.logout-ok {
	color: green;
}

.link-button {
	background: none; /* Remove button background */
	border: none; /* Remove the border */
	color: blue; /* Text color (you can change according to your preferences) */
	cursor: pointer; /* Change cursor when hovering over text */
	font: inherit; /* Keep font style from context */
	padding: 0; /* Remove any padding */
}