<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg mt-5">
                <div class="card-header text-bg-primary text-center p-3">
                    <strong>LOGIN TO CONTINUE</strong>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="text" placeholder="Johndoe" autofocus>
                            <label for="text">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" placeholder="">
                            <label for="password">Password</label>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" form="remember me">
                            <label for="remember me" class="form-check-label">Remember me</label>
                        </div>
                        <div class="d-grid mb-1">
                            <button class="btn btn-success btn-with-text-center" type="submit">
                                <i class="bi bi-box-arrow-in-right large-icon"></i>
                                Login to continue
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
