<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center bg-info text-white">
                    <h5>Login to continue</h5>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="btn-group" role="group" aria-label="Basic Example">
                <button type="button" class="btn btn-outline-primary">Primary</button>
            </div>
        </div>
    </div>
</div>
