<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg mt-5">
                <div class="card-header text-bg-primary">
                    Login to continue
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-floating mt-3">
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
