<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<div th:replace="~{fragments/bootstrap :: block-bootstrap}"></div>
	<head>
	<title>Add new product</title>
	</head>
	<body class="bg-light">
		<!-- header and navigation bar -->
		<div th:replace="~{fragments/adminHeader :: block-adminHeader}"></div>
		<!-- header and navigation bar -->
		<!-- main -->
		<main class="container mt-5">
	        <div class="row">
	        	<!-- side bar -->
	        	<div th:replace="~{fragments/adminSideBar :: block-adminSideBar}"></div>
	        	<!-- side bar -->
	        	<section class="col-md-6 mx-auto">
	        		<div class="card">
	        			<div class="card-header">
	        				<h5 class="card-title">Add new product</h5>
	        			</div>
	        		</div>
	        		<div class="card-body">
	        			<form th:action="@{/saveProduct}" th:object="${productDto}" method="post">
	        				<div class="form-group mb-3">
	        					<label for="image">Image</label>
	        					<input type="image" class="form-control" id="image" th:field="*{imageFileName}">
	        				</div>
	        			</form>
	        		</div>
	        	</section>
	    	</div>
	    </main>
	</body>
</html>