<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<div th:replace="~{fragments/bootstrap :: block-bootstrap}"></div>
	<head>
	<title>Add new product</title>
	</head>
	<body class="bg-light">
		<!-- header and navigation bar -->
		<div th:replace="~{fragments/adminHeader :: block-adminHeader}"></div>
		<!-- header and navigation bar -->
		<!-- main -->
		<main class="container mt-5">
	        <div class="row">
	        	<!-- side bar -->
	        	<div th:replace="~{fragments/adminSideBar :: block-adminSideBar}"></div>
	        	<!-- side bar -->
	    	</div>
	    </main>
	</body>
</html>