<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<div th:replace="~{fragments/bootstrap :: block-bootstrap}"></div>
		<h1>BOOTSTRAP</h1>
		<div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-primary text-white p-3">
                    Columns
                </div>
            </div>
            <div class="col">
                <div class="bg-primary text-white p-3">
                    Columns
                </div>
            </div>
            <div class="col">
                <div class="bg-primary text-white p-3">
                    Columns
                </div>
            </div>
        </div>
    </div>
	</body>
</html>