<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<div th:replace="~{fragments/bootstrap :: block-bootstrap}"></div>
	<head>
		<title>Dash board</title>
	</head>
	<body class="bg-light">
		<!-- header -->
		<div th:replace="~{fragments/adminHeader :: block-adminHeader}"></div>
		<!-- header -->
		<!-- main -->
		<main class="container mt-5">
	        <div class="row">
	        	<!-- side bar -->
	        	<div th:replace="~{fragments/adminSideBar :: block-adminSideBar}"></div>
	        	<!-- side bar -->
	            <section class="col-md-9 mx-auto">
	                <div class="card">
	                    <div class="card-header">
	                        <h5 class="card-title">Products List</h5>
	                        <a href="adminPortal/newProduct/showNewCatalogForm" class="btn btn-success">Add new product</a>
	                    </div>
	                    <div class="card-body">
	                        <table class="table table-striped">
	                            <thead>
	                                <tr>
	                                    <th>ID</th>
	                                    <th>Image</th>
	                                    <th>Active</th>
	                                    <th>Date Created</th>
	                                    <th>Description</th>
	                                    <th>Last Update</th>
	                                    <th>Name</th>
	                                    <th>SKU</th>
	                                    <th>Unit Price</th>
	                                    <th>Units In Stock</th>
	                                    <th>Action</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr th:each="product : ${listProducts}">
	                                    <td th:text="${product.id}"></td>
	                                    <td>
	                                    	<img th:src="@{'/images/' + ${product.imageUrl}}" alt="..." width="100">
	                                    </td>
	                                    <td th:text="${product.active}"></td>
	                                    <td th:text="${product.dateCreated}"></td>
	                                    <td th:text="${product.description}"></td>
	                                    <td th:text="${product.lastUpdate}"></td>
	                                    <td th:text="${product.name}"></td>
	                                    <td th:text="${product.sku}"></td>
	                                    <td th:text="${product.unitPrice}"></td>
	                                    <td th:text="${product.unitsInStock}"></td>
	                                    <td>
	                                        <a th:href="@{adminPortal/updateProduct/showFormForUpdate/{id}(id=${product.id})}" class="btn btn-warning btn-sm">Update</a>
	                                        <a th:href="@{/adminPortal/deleteProduct/{id}(id=${product.id})}" 
	                                        class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
	                                    </td>
	                            </tbody>
	                        </table>
	                    </div>
	                </div>
	            </section>
	        </div>
    	</main>
		<!-- main -->
		<!-- footer -->
		<div th:replace="~{fragments/adminFooter :: block-adminFooter}"></div>
		<!-- footer -->
	</body>
</html>