<!DOCTYPE html>
	<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<head th:replace="~{fragments/bootstrap :: block-bootstrap}">
		<title>Dashboard (Admin)</title>
	</head>
	<body class="body">
		
		<!-- NavBar -->
		<div th:replace="~{fragments/adminNavBar :: block-adminNavBar}"></div>
		<!-- NavBar -->
		
		<div class="container-fluid">
			<div class="row mt-5 gap-5 d-flex justify-content-center align-items-center">
				<div class="col-md-2 mt-5 ms-2">
					<div class="card">
						<div class="card-header">
						</div>
						<div class="card-body">
						</div>
						<div class="card-footer">
						</div>
					</div>
				</div>
				<div class="col-md-2 mt-5 me-2">
					<div class="card">
						<div class="card-header">
						</div >
						<div class="card-body">
						</div>
						<div class="card-footer">
						</div>
					</div>
				</div>
			</div>
			
			<!-- Footer -->
				<div th:replace="~{fragments/adminFooter :: block-adminFooter}"></div>
			<!-- Footer -->
		</div>
		
		<!-- Bootstrap Javascript -->
		<div th:replace="~{fragments/bootstrapJavascript :: block-bootstrapJavascript}"></div>
		<!-- Bootstrap Javascript -->
			
	</body>
</html>