<!DOCTYPE html>
	<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<head>
		<link th:insert="~{fragments/bootstrap :: block-bootstrap}">
		<link th:insert="~{fragments/bootstrapIcon :: block-bootstrapIcon}">
		<link th:href="@{/css/dashboard.css}" rel="stylesheet">
		<title>Dashboard (Administrator)</title>
	</head>
	<body>
		
		<!-- NavBar -->
		<div th:insert="~{fragments/adminNavBar :: block-adminNavBar}"></div>
		<!-- NavBar -->
		
		<div class="container-fluid mt-3">
			<div class="row bg-primary">
				<div class="col-2 bg-danger">
				
					<!-- Sidebar -->
					<div th:insert="~{fragments/adminSideBar :: block-adminSideBar}"></div>
					<!-- Sidebar -->
					
				</div>
				<div class="col-10 bg-success">
					<div class="row">
						<div class="col">
							<div class="p-4 rounded-2 bg-light shadow">
							
							</div>
						</div>
						<div class="col">
							<div class="p-4 rounded-2 bg-light shadow">
							
							</div>
						</div>
						<div class="col">
							<div class="p-4 rounded-2 bg-light shadow">
							
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<!-- Scripts -->
		<div th:replace="~{fragments/charts :: block-charts}"></div>
		<div th:replace="~{fragments/bootstrapJs :: block-bootstrapJs}"></div>
		<!-- Scripts-->
			
	</body>
</html>