<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<head th:replace="~{fragments/bootstrap :: block-bootstrap}">
	</head>
	<body>
		<div class="container">
			<div class="row justify-content-center mt-5">
				<div class="col mt-5">
					<div class="card shadow-lg">
						<div class="card-header text-bg-primary text-center p-3">	
							<h5><i class="bi bi-lock-fill"></i> Login to continue</h5>
						</div>
						<div class="card-body">
							<form th:action="@{/perform_login}" method="post">
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="user_name" name="username" placeholder="johndoe" autofocus required>
									<label for="user_name">Username</label>
								</div>
								<div class="form-floating mb-3">
									<input type="password" class="form-control" id="pass_word" name="password" placeholder="***" required>
									<label for="pass_word">Password</label>
								</div>
								<div class="form-check mb-3">
									<input type="checkbox" class="form-check-input" form="remember me">
									<label for="remember me" class="form-check-label">Remember Me</label>
								</div>
								<div class="d-grid">
									<button type="submit" class="btn btn-success d-flex justify-content-center align-items-center gap-2">
										<i class="bi bi-box-arrow-in-right large-icon"></i>
											Sign in
									</button>
								</div>
								<div th:if="${param.error}" class="alert alert-danger mt-3">
									<p class="login-failed text-center">Invalid credentials, please try again.</p>
								</div>
								<div th:if="${param.logout}" class="alert alert-success mt-3">
									<p class="logout-ok text-center">Logout successfully.</p>
								</div>
							</form>
							<div class="mt-3 text-center">
								Don't have an account yet?
								<button type="button" class="link-button" data-bs-toggle="modal" data-bs-target="#registerModal">Sign up</button>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>		
		<!-- Modal -->
		<div class="modal fade" th:classappend="${showRegistrationModal} ? 'show' : ''" data-bs-backdrop="static" tabindex="-1" 
								id="registerModal" aria-labelledby="registrationModalLabel">
						<div class="modal-dialog">
		    				<div class="modal-content">
							    <div class="modal-header text-bg-secondary d-flex justify-content-center align-items-center">
							    	<h5 class="modal-title" id="registrationModalLabel">Registration Form</h5>
							    </div>
							    <div class="modal-body">
							        <form th:action="@{/register}" th:object="${user}" method="post">
							        	<div class="input-group mb-3">
							        		<span class="input-group-text"><i class="bi bi-person-fill"></i></span>
								        	<div class="form-floating">
									        	<input type="text" class="form-control" id="reg_username" name="username" placeholder="johndoe" 
									        		   th:field="*{username}" required>
									        	<label for="reg_username">Username</label>
									        	<div class="invalid-feedback d-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
								        	</div>
							        	</div>
							        	<div class="input-group mb-3">
								        	<span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
								        	<div class="form-floating">
									        	<input type="password" class="form-control" name="password" id="reg_password" placeholder="****" 
									        		   th:field="*{password}" required>
									        	<label for="reg_password">Password</label>
								        	</div>
							        	</div>
							        	<div class="input-group mb-3">
							        		<span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
								        	<div class="form-floating">
									        	<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" 
									        		   placeholder="****" required>
									        	<label for="confirmPassword">Confirm password</label>
									        	<div class="invalid-feedback d-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
								        	</div>
							        	</div>
							        	<div class="d-grid">
											<button type="submit" class="btn btn-success d-flex justify-content-center align-items-center gap-2">
												<i class="bi bi-person-plus-fill large-icon"></i>
												Sign up
											</button>
										</div>
							        </form>
							    </div>
							    <div class="modal-footer">
							    	<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
							   	</div>
						   	</div>
						</div>
					</div>
				    <!-- Modal -->					
				
		
		
		<!-- Scripts -->
		<div th:replace="~{fragments/bootstrapJavascript :: block-bootstrapJavascript}"></div>
		<!-- Scripts -->
					
	</body>
</html>