<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<head>
		<div th:replace="~{fragments/bootstrap :: block-bootstrap}"></div>
		<title>Login (Admin)</title>
	</head>
	<body class="d-flex flex-column min-vh-100">
	
		<!-- Header -->
		<div th:replace="~{fragments/adminHeader :: block-adminHeader}"></div>
		<!-- Header -->
		
		<!-- Main Container -->
	    
	    <!-- Main Container -->
	    
	    <!-- Footer -->
		<div th:replace="~{fragments/adminFooter :: block-adminFooter}"></div>
		<!-- Footer -->
	    
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>