<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<head th:replace="~{fragments/bootstrap :: block-bootstrap}">
		<title>Administrator (Admin)</title>
	</head>
	<body class="body">
	
		<!-- NavBar -->
		<div th:replace="~{fragments/adminNavBar :: block-adminNavBar}"></div>
		<!-- NavBar -->
		
		<div class="container-fluid">
			<div class="row d-flex justify-content-center align-items-center">
				
				<!-- Main Content -->
				<div class="col-md-9 mt-5">
					<div class="card fixed-dim mt-5">
						<div class="card-header d-flex justify-content-between align-items-center">
							<h5>Products</h5>
							<a>
								<i class="bi bi-plus-square-fill large-add-icon"></i>
							</a>
						</div>
						<div class="card-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Image</th>
										<th>Active</th>
										<th>Date Created</th>
										<th>Name</th>
										<th>SKU</th>
										<th>Price</th>
										<th>Units In Stock</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody th:each="product : ${productPage.content}">
									<tr>
										<td th:text="${product.id}"></td>
										<td>
											<img th:src="${product.imagePath}" alt="Product Image" width="90" class="img-thumbnail">
										</td>
										<td th:text="${product.active}"></td>
										<td th:text="${product.dateCreated}"></td>
										<td th:text="${product.name}"></td>
										<td th:text="${product.sku}"></td>
										<td th:text="${product.unitPrice}"></td>
										<td th:text="${product.unitsInStock}"></td>
										<td>
											<div class="btn-group d-flex justify-content-center align-items-center gap-2" role="group">
												<a th:href="@{showFormForUpdate/{id}(id=${product.id})}" class="btn btn-warning btn-sm">
													Update
												</a>
												<a th:href="@{deleteProduct/{id}(id=${product.id})}" class="btn btn-danger btn-sm"
													onclick="return confirm('Are you sure?')">
													Delete
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						<div class="card-footer d-flex justify-content-center align-items-center">
						
							<!-- Pagination -->
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li th:classappend="${currentPage == 0} ? 'disabled'">
										<a class="page-link" th:href="@{/products(size=${productPage.size}, page=${currentPage - 1})}" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
										<a class="page-link" th:href="@{/products(size=${productPage.size}, page=${i})}" th:text="${i + 1}">
											1
										</a>
									</li>
									<li th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
										<a class="page-link" th:href="@{/products(size=${productPage.size}, page=${currentPage + 1})}" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
							<!-- Pagination -->
							
						</div>	
						</div>
					</div>
					</div>
				</div>
				<!-- Main Content -->
				
				<!-- Footer -->
				<div th:replace="~{fragments/adminFooter :: block-adminFooter}"></div>
				<!-- Footer -->
	
			</div>
			
		<!-- Bootstrap Javascript -->
		<div th:replace="~{fragments/bootstrapJavascript :: block-bootstrapJavascript}"></div>
		<!-- Bootstrap Javascript -->
		
	</body>
</html>