<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Sign Up</title>
	</head>
	<div th:replace="~{fragments/bootstrap :: block-bootstrap}"></div>
	<body class="bg-light">
		<header>
	        <h1>Administration Registration</h1>
	        <p>Manage the catalogs of computer science books</p>
    	</header>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<h2>Sign Up</h2>
					<form th:action="@{/register}" th:object="${user}" method="post">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" id="username" th:field="*{username}" class="form-control" required>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>